<div class="wrapper">

  {{> navbar}}

  {{#if postName}}




  <div class="col-xl-12 postPagePostContainer">
    <div class="post_container">

      <div class="post_title_container d-flex">
        <h3 class="title" id="postName" data-id="{{postId}}"><a href="/s/p/{{postName}}">{{postName}}</a></h3>
        <a href="/s/${element.subspeak}" class="subspeak_name_post ml-auto">{{subspeak}}</a>
      </div>

      <div class="post_description">
        <p class="postText">{{postText}}</p>
      </div>
      <div class="d-flex post_footer">
        <ul>
          <li class="postIcons"> <button type="button" class="btn btn-primary replyButton" data-toggle="modal"
              data-target="#exampleModal">
              Reply</li>
          <li class="postIcons"><i class="fas fa-user-edit"></i><span>{{user}}</span></li>
          <li class="postIcons"><i class="fas fa-vote-yea"></i><span> {{votes}}</span></li>
        </ul>


      </div>
    </div>

  </div>



  {{else}}
  Post Not Found! Create it!
  {{/if}}

  <div class="container-fluid">

    <div class="row" id="comments_row">

    </div>
  </div>

</div>

{{> leftBar}}

{{> rightBar}}
{{> createSSModal}}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post a Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea name="" id="commentTextArea" cols="30" rows="10" placeholder="Create a comment"></textarea>
      </div>
      <div class="modal-footer">

        <button data-id="{{postId}}" id="postAComment" class="btn btn-info btn-lg mainBtn" type="submit"><i class="fas fa-pen-nib"></i>
          Comment</button>
      </div>
    </div>
  </div>
</div>

{{> loginModal}}
{{> createSSModal}}